.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
webview-src/**
scripts/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.md
!README.md
!CHANGELOG.md
!LICENSE
